/*style css*/
*{
    padding: 0;
    margin: 0;
}
body {
    font-family:"微软雅黑";
}
span{
    font-size: 15px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.content{
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
}
.ml25{
    margin-left: 25px;
}
.mr25{
    margin-right: 25px;
}
h2 {
      text-align: center;
      font-weight: 400;
      color: #fff;
  }
.title{
    display: block;
    text-align: center;
    margin: 0 auto;
    width: 127px;
    border-top:solid 1px #aeaeae;
    color: #fff;
}
/*header*/
.header-top{
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: url(../images/header_top_bg.jpg);
    background-size: 100% 100%;
}
.header-content{
    position: relative;
    height: 600px;
    background: url("../images/header_content_bg.jpg");
    background-size: 100% 100%;
}
.logo{
    width: 10%;
}
.logo_left{
    width: 66px;
    height: 80px;
    position: relative;
}
.logo_right h1{
    height: 80px;
    line-height: 80px;
    color: #000;
    font-size: 22px;
}
.logo1,.logo2,.logo3{
    position: absolute;
    border-radius: 50%;
}
.logo .logo3{
    z-index:1;
    top:18px;
    left:5px;
    width: 30px;
    height: 30px;
    background: #f67979;
}
.logo .logo2{
    z-index:2;
    bottom:0;
    right:0;
    width: 54px;
    height: 50px;
    background: #f6ef79;
}
.logo .logo1{
    z-index:3;
    top:10px;
    right:0;
    width: 40px;
    height: 40px;
    background: #799ff6;
}
header nav{
    width: 84%;
}
nav a:hover{
    color: #1a1c28;
}
nav ul li{
    float: left;
    height:80px;
    line-height: 80px;
    padding-left: 60px;
    padding-right: 60px;
}
nav ul li a{
    color: #fff;
    font-size: 18px;
}
nav .login a{
    display: inline-block;
    color: #fff;
    height:80px;
    line-height: 80px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}
.header-content form{
    position: absolute;
    bottom:50px;
    left:50%;
    right:50%;
    margin-left: -350px;
    margin-right: -350px;
}
.search{
    width: 700px;
    height: 60px;
    padding-left: 15px;
    border: solid 1px #fff;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0);
    font-size: 20px;
    color: #fff;
}
.search:focus {
    outline:none;
}
form .search-box{
    position: relative;
}
form button[type=submit]{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -19px;
    background-color: rgba(0,0,0,0);
    border: none;
    cursor:pointer;
}
form .form-text{
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
form .form-text span{
    margin-left: 30px;
    margin-right: 30px;
    color: #fff;
    cursor:pointer;
}
.classification{
    padding-top: 30px;
    background: #fafafa;
}
.classification .content{
    padding:20px 50px;
    text-align: center;
    background: #fff;
}
.classification .content-1100{
    width: 1100px;
    margin: 20px auto;
}
.classification .content h2 {
    font-weight: 400;
    color: #000;
}
.classification .content .title{
    border-top:solid 1px #aeaeae;
    color: #6f6f6f;
}
.classification .form-text {
    margin-top: 20px;
}
.classification .form-text span {
    margin-left: 30px;
    margin-right: 30px;
    color: #000;
    cursor: pointer;
}
.classification .class_img{
    width: 900px;
}
.classification .class_img .mr30{
    margin-right: 17px;
}
.classification .class_img .mb30{
    margin-bottom: 17px;
}
.classification .class_img img{
    display: block;
}

.featured{
    height: 100px;
    padding-top: 60px;
    background:url("../images/jingxvan.jpg") rgba(0,0,0,0.5);
    background-size:100% 100%;
    text-align: center;
}
.featured .content h2 {
    color: #fff;
}
.featured .content .title{
    color: #fff;
}
.featured-content{
    margin-top: 20px;
    text-align: center;
}
.featured-content .content a{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.featured-content .content img{
    width: 360px;
    height: 500px;
}
/*about*/
.about{
    height: 100px;
    background: url("../images/footer.jpg");
    padding-top: 60px;
    background-size: 100% 100%;
    text-align: center;
}